<!DOCTYPE html>
<html lang="en">
<head>
	<title>SOPAAN Trasure-Hunt</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<style>

		.inherit-link {
  all: inherit;
}
html {
  --black: #21252a;
  --grey-1: #343a40;
  --grey-2: #495057;
  --grey-3: #868e96;
  --grey-4: #adb5bd;
  --grey-5: #ced4da;
  --grey-6: #dee2e6;
  --grey-7: #e9ecef;
  --grey-8: #f1f3f5;
  --grey-9: #f8f9fa;
  --trans-black: rgba(33, 37, 42, 0.9);
  --red: #e10600;
  --gold: #ffda65;
  --gold-dark: #a3862c;
  --bronze: #c99355;
  --bronze-dark: #80582c;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow:auto;
}

body {
  font-family: "Inter UI", system-ui;
  color: var(--black);
  background: var(--black);

}

.list {
  width: 100%;
  max-width: 600px;
  margin: 3rem auto 3rem;
  border-radius: 0.4rem;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.07);
  filter:invert(200%)
}
@media screen and (max-width: 800px) {
  .list {
    margin: 0 auto;
  }
}
.list__table {
  width: 100%;
  border-spacing: 0;
  color: var(--grey-3);
}
.list__header {
  padding: 3rem 2rem;
  background: white;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}
.list__header h1,
.list__header h5 {
  margin: 0;
  padding: 0;
}
.list__header h5 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--red);
}
.list__value {
  display: block;
  font-size: 18px;
}
.list__label {
  font-size: 11px;
  opacity: 0.6;
  filter:invert(200%)

}
.list__row {
  background: var(--grey-7);
  cursor: pointer;
  transition: all 300ms ease;

}
.list__row:hover, .list__row:focus {
  transform: scale(1.05);
  box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease;

}
.list__row:not(:last-of-type) .list__cell {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.08);
}
.list__row:first-of-type {
  color: var(--gold-dark);
  background: var(--grey-9);

}
.list__row:first-of-type .list__cell:first-of-type {
  background: var(--gold);
  color: var(--gold-dark);
}
.list__row:nth-of-type(2) {
  color: var(--grey-2);
  background: var(--grey-9);
}
.list__row:nth-of-type(2) .list__cell:first-of-type {
  background: var(--grey-4);
  color: var(--grey-2);
}
.list__row:nth-of-type(3) {
  color: var(--bronze-dark);
  background: var(--grey-9);
}
.list__row:nth-of-type(3) .list__cell:first-of-type {
  background: var(--bronze);
  color: var(--bronze-dark);
}
.list__cell {
  padding: 1rem;
}
.list__cell:first-of-type {
  text-align: center;
  padding: 1rem 0.2rem;
  background: var(--grey-5);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--trans-black);
  display: none;
  cursor: pointer;
  transition: all 300ms ease;

}
.overlay.is-open {
  display: block;
}

.sidebar {
  position: fixed;
  background: white;
  width: 100%;
  max-width: 500px;
  top: 0;
  bottom: 0;
  box-shadow: none;
  right: -500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*@media screen and (max-width: 650px) {
  	flex-direction: column-reverse;
  	justify-content: space-between;
  }*/
  transition: all 300ms ease;
  filter:invert(200%)

}
.sidebar.is-open {
  right: 0;
  transition: all 300ms ease;
  box-shadow: 0px 0px 100px var(--black);
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  background: var(--grey-9);
  align-items: center;
}
.sidebar__header, .sidebar__body {
  padding: 2rem;
}
.sidebar__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--grey-4);
}

.button {
  font-family: inherit;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.button:focus, .button:active {
  outline: 0;
}
.button--close {
  padding: 0;
  margin: 0;
  height: auto;
  line-height: 1;
  color: var(--grey-5);
}
.button--close:hover {
  color: var(--grey--4);
}

.driver {
  display: flex;
  align-items: flex-start;
  opacity: 0;
  position: relative;
  left: 100px;
  -webkit-animation: fade 500ms ease 150ms forwards;
          animation: fade 500ms ease 150ms forwards;
}
.driver__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 220px;
  background-repeat: no-repeat;
  background-position: top center;
  border: 3px solid white;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.12);
  margin-right: 1.5rem;
}
.driver__content {
  width: auto;
}
.driver__title {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0.5rem 0;
}
.driver__table {
  width: 100%;
  color: var(--grey-2);
}
.driver__table small {
  color: var(--grey-4);
}
.driver__table td {
  padding: 0.3rem 0.6rem 0.3rem 0;
  height: 2rem;
}
.driver__table td img {
  position: relative;
  top: 5px;
  margin-right: 6px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
	</style>
</head>
<body>
	<div id='menu'>
		<div class='menu-line1'></div>
		<div class='menu-line2'></div>
	  </div>
	  <div class='nav-page1'>
      <span><a class="inherit-link" href="/">HOME</a></span>
      <span><a class="inherit-link" href="/leaderboard/1">Leaderboard 1</a></span>
      <span><a class="inherit-link" href="/leaderboard/2">Leaderboard 2</a></span>
      <span><a class="inherit-link" href="/leaderboard/3">Leaderboard 3</a></span>
      <span><a class="inherit-link" href="/leaderboard/4">Leaderboard 4</a></span>
      <span><a class="inherit-link" href="/leaderboard/5">Leaderboard 5</a></span>
       </div>
	  <div class='nav-page2'></div>
       
<div class="wrapper">
    <div class="list">
      <div class="list__header"><br/>
        <h5>Track <%=docs[0].track%> | 2023</h5>
        <h1>Sopaan Leaderboard</h1>
      </div>
      <div class="list__body">
        <table id="leader-table" class="list__table">
          <%for(var i=0;i<docs.length;i++){%>
          <tr class="list__row" data-image="https://www.formula1.com/content/fom-website/en/drivers/lewis-hamilton/_jcr_content/image.img.1920.medium.jpg/1533294345447.jpg" data-nationality="British" data-dob="1985-01-07" data-country="gb">
            <td class="list__cell"><span class="list__value"><%=i+1%></span></td>
            <td class="list__cell"><span class="list__value"><%=docs[i].teamName%></span><small class="list__label">Team Name</small></td>
            <td class="list__cell"><span class="list__value"><%=docs[i].clues.length-1%></span><small class="list__label">Clues Solved</small></td>
            <td class="list__cell"><span class="list__value">Last at</span><small class="list__label"><%=docs[i].updatedAt.toLocaleTimeString()%> <%=docs[i].updatedAt.toLocaleDateString()%></small></td>
          </tr>
          <%}%>
        </table>
      </div>
    </div>
  </div>
  
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
    
<script>
  // Fetch the data from the API endpoint
  function fetchLeaderboard() {

  fetch('https://banjaarafest.com/api/leaderboard/<%=docs[0].track%>')  // Replace '5' with the desired number
      .then(response => response.json())
      .then(docs => {
        console.log(docs)
        html=``;
        for(var i=0;i<docs.length;i++){
          lastAt=new Date(docs[i].updatedAt).toLocaleTimeString()+" "+new Date(docs[i].updatedAt).toLocaleDateString();
          html+=`
          <tr class="list__row" data-image="https://www.formula1.com/content/fom-website/en/drivers/lewis-hamilton/_jcr_content/image.img.1920.medium.jpg/1533294345447.jpg" data-nationality="British" data-dob="1985-01-07" data-country="gb">
            <td class="list__cell"><span class="list__value">${i+1}</span></td>
            <td class="list__cell"><span class="list__value">${docs[i].teamName}</span><small class="list__label">Team Name</small></td>
            <td class="list__cell"><span class="list__value">${docs[i].clues.length-1}</span><small class="list__label">Clues Solved</small></td>
            <td class="list__cell"><span class="list__value">Last at</span><small class="list__label">${lastAt}</small></td>
          </tr>`
          }
          document.getElementById("leader-table").innerHTML=html;
      })
      .catch(error => {
        console.error('Error fetching data:', error);
      });
    }
    fetchLeaderboard()
    setInterval(fetchLeaderboard, 5000);  // Fetch every 5000 milliseconds (5 seconds)

    console.clear();

const tableRow = document.querySelectorAll(".list__row");
const overlay = document.querySelector(".overlay");
const sidebar = document.querySelector(".sidebar");
const closeOverlayBtn = document.querySelector(".button--close");

const sidebarClose = () => {
  sidebar.classList.remove("is-open");
  overlay.style.opacity = 0;
  setTimeout(() => {
    overlay.classList.remove("is-open");
    overlay.style.opacity = 1;
  }, 300);
};

tableRow.forEach(tableRow => {
  tableRow.addEventListener("click", function () {
    overlay.style.opacity = 0;
    overlay.classList.add("is-open");
    sidebar.classList.add("is-open");
    setTimeout(() => {
      overlay.style.opacity = 1;
    }, 100);

    // Sidebar content
    const sidebarBody = document.querySelector(".sidebar__body");
    sidebarBody.innerHTML = '';

    const driverPlace = this.querySelector(".list__cell:nth-of-type(1) .list__value").innerHTML;
    const driverName = this.querySelector(".list__cell:nth-of-type(2) .list__value").innerHTML;
    const driverTeam = this.querySelector(".list__cell:nth-of-type(3) .list__value").innerHTML;
    const driverPoints = this.querySelector(".list__cell:nth-of-type(4) .list__value").innerHTML;
    const driverImage = this.dataset.image;
    const driverNationality = this.dataset.nationality;
    const driverDOB = this.dataset.dob;
    const driverCountry = this.dataset.country;

    const newDriver = document.createElement('div');
    newDriver.classList = 'driver';

    const driverContent = document.createElement('div');
    driverContent.classList = 'driver__content';

    const profile = document.createElement('div');
    profile.classList = 'driver__image';
    profile.style.backgroundImage = `url('${driverImage}')`;
    newDriver.appendChild(profile);

    const driverTitle = document.createElement('div');
    driverTitle.classList = 'driver__title';
    driverTitle.innerHTML = driverName;
    driverContent.appendChild(driverTitle);

    const driverInfo = document.createElement('div');
    driverInfo.innerHTML = `
		<table class="driver__table">
			<tbody>
				<tr>
					<td><small>Team</small></td>
					<td>${driverTeam}</td>
				</tr>
				<tr>
					<td><small>Nationality</small></td>
					<td><img src="https://www.countryflags.io/${driverCountry}/shiny/24.png">${driverNationality}</td>
				</tr>
				<tr>
					<td><small>Date of birth:</small></td>
					<td>${driverDOB}</td>
				</tr>
				<tr>
					<td><small>Place</small></td>
					<td>${driverPlace}</td>
				</tr>
				<tr>
					<td><small>Points</small></td>
					<td>${driverPoints}</td>
				</tr>
			</tbody>
		</table>`;
    driverContent.appendChild(driverInfo);

    newDriver.appendChild(driverContent);
    sidebarBody.appendChild(newDriver);

  });
});

closeOverlayBtn.addEventListener("click", function () {
  sidebarClose();
});

overlay.addEventListener("click", function () {
  sidebarClose();
});
</script>

</body>
</html>